@charset "utf-8";
/* CSS Document */


body {
	margin:0;
	background-color: #fff;
	width:100%;}
.ScrollSceneIndicators { z-index: 1 !important; }

/*background colors*/

.bg {
	position:fixed;
	z-index: -1;
	width:100%;
	height: 100%;
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#497cf2, #f5c2cb); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#497cf2, #f5c2cb); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#497cf2, #f5c2cb); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#497cf2, #f5c2cb); /* Standard syntax */

}
.container {
	background-color:rgba(56,134,255,0.66);
	display:block;
	margin:0 auto;
	width:100% !important;}

.sec1, .sec2, .sec3, .sec4 {
	text-align:center;
	height:10000px;
	margin: 0 50px;
	color:#fff;
}
.sec2, .sec3 {height:5000px;}
.sec4 {height:20000px;}

/*stars*/

.stars{position:fixed;width:100%; height:100%; top:0;left:0; opacity:.0;}
.star{ position:absolute; margin:20px;height:40px; width:40px;}
.star-sm{ position:absolute; margin:20px;height:25px; width:25px;}


/*modal */
.rsvp {position:fixed; bottom:20px; right:2%; z-index:1041;};
